.createfund {
   background: #0E0D0D;
   padding: 80px 0 37px;


   .left_arrow {
      padding-top: 80px;
      padding-left: 130px;

      .back_arrow {
         display: flex;
         align-items: center;
         justify-content: center;
         cursor: pointer;
         background: linear-gradient(120.83deg, #131313 0%, rgba(54, 53, 53, 0) 100%, rgba(54, 53, 53, 0) 100%);
         border-radius: 10px;
         width: 100px;
         height: 40px;

         .arrow {
            cursor: pointer;
         }
      }

   }


   .wrapper {
    margin: 0 auto;
    max-width: calc(100% - 1.875rem);
    width: 100%;

    @media (min-width: 1024px) {
      max-width: calc(100% - 7.5rem);
    }

    @media (min-width: 480px) {
      max-width: calc(100% - 3.75rem);
    }
  

      .top_container {
         display: flex;
         justify-content: center;
         align-items: center;
 

         .createfund_container {
            display: flex;
            justify-content: center;
            align-items: center;

        .createfund_content {
           display: flex;
           width: 55%;
           padding: 1rem;
           flex-direction: column;

           @media (max-width: 991px){
             width: 70%;
           }
       
            .title {
               font-weight: 600;
               font-size: 21px;
               line-height: 160%;
               text-align: center;
               color: #FFFEFE;
               margin-bottom: 40px;

               @media (max-width: 991px){
                font-size: 16px;
              }

                @media (max-width: 441px){
                font-size: 14px;
              }
            }

            .createfund_form {
               display: block;
               padding: 4rem 2rem;
               justify-content: center;
               align-items: center;
               border-radius: 5px;
               background-color: #050404;
               box-shadow: 5px 5px 71px rgba(32, 46, 43, 0.25);

               .form_field_label {
                  color: #ffffff;
                  font-size: 1rem;
                  line-height: 1.5rem;

                  @media(max-width: 767px) {
                    font-size: .8rem;
                    line-height: 1.4rem;
                    text-align: start;
                }
               }

               input {
                  margin-top: 1rem;
                  border: none;
                  background: linear-gradient(120.83deg, #131313 0%, rgba(54, 53, 53, 0) 100%, rgba(54, 53, 53, 0) 100%);
                  border-radius: 10px;
                  width: 100%;
                  height: 50px;
                  color: #FFFEFE;
                  outline: none;
                  padding: 1rem;
               }

               .textareahere {
                  margin-top: 1rem;
                  background: linear-gradient(120.83deg, #131313 0%, rgba(54, 53, 53, 0) 100%, rgba(54, 53, 53, 0) 100%);
                  outline: none;
                  color: #FFFEFE;
                  border: none;
                  padding: 1rem;
                  width: 100%;
                  border-radius: 10px;
               }

               .upload_btn_wrapper {
                  position: relative;
                  border: 1px dashed #7BA29A;
                  border-radius: 10px;
                  width: 100%;
                  height: 150px;

                  .cloudsvg {
                     cursor: pointer;
                     display: flex;
                     justify-content: center;
                     align-items: center;
                     flex-direction: column;

                     .icon {
                        margin-top: 30px;
                        width: 40px;
                        height: 40px;
                     }


                     p {
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 165%;
                        color: #FFFEFE;
                     }

                     .upload {
                        width: 100%;
                        position: absolute;
                        left: 0;
                        right: 0;
                        top: 0;
                        opacity: 0;
                        cursor: pointer;
                        min-height: 300px;
                     }
                  }
               }

               .form_btn {
                  margin-top: 40px;
                  margin-bottom: 40px;
                  cursor: pointer;
                  border: none;
                  background: linear-gradient(93.01deg, rgba(22, 222, 181, 0.71) -9.8%, #264D45 65.6%, rgba(7, 51, 42, 0.980365) 94.34%);
                  border-radius: 30px;
                  padding: 10px 40px;
                  font-weight: 500;
                  font-size: 18px;
                  line-height: 165%;
                  color: #FFFEFE;
                  transition: all 100ms ease-in-out;

                  &:hover {
                     border: 2px solid #CCAECC;
                  }
               }

               .createfunding_btn {
                  display: flex;
                  justify-content: center;
                  // margin-top: 40px;
                  // margin-bottom: 40px;

                  .connect_btn {
                     cursor: pointer;
                     border: none;
                     background: linear-gradient(93.01deg, rgba(22, 222, 181, 0.71) -9.8%, #264D45 65.6%, rgba(7, 51, 42, 0.980365) 94.34%);
                     border-radius: 30px;
                     padding: 1rem;
                     text-align: center;
                     font-weight: 500;
                     font-size: 17px;
                     line-height: 100%;
                     color: #FFFEFE;
                     transition: all 100ms ease-in-out;

                     &:hover {
                        border: 2px solid #9CB9B3;
                     }

                  }

                  .wrong_btn {
                     cursor: pointer;
                     border: none;
                     background: linear-gradient(93.01deg, rgba(22, 222, 181, 0.71) -9.8%, #264D45 65.6%, rgba(7, 51, 42, 0.980365) 94.34%);
                     border-radius: 30px;
                     width: 200px;
                     height: 50px;
                     font-weight: 500;
                     font-size: 16px;
                     line-height: 165%;
                     color: #FFFEFE;
                     transition: all 100ms ease-in-out;

                     &:hover {
                        border: 2px solid #9CB9B3;
                     }
                  }

               }
            }
         }

         }

         .createfund_content {
           display: flex;
           width: 55%;
           padding: 1rem;
           flex-direction: column;
       
            .title {
               font-weight: 600;
               font-size: 25px;
               line-height: 160%;
               text-align: center;
               color: #FFFEFE;
               margin-bottom: 40px;
            }

            .createfund_form {
               display: block; 
               justify-content: center;
               align-items: center;
               border-radius: 1rem;
               background: #050404;
               box-shadow: 5px 5px 71px rgba(32, 46, 43, 0.25);

               label {
                  font-weight: 400;
                  font-size: 18px;
                  line-height: 165%;
                  color: #FFFEFE;
                  margin-bottom: 15px;
               }

               input {
                  margin-bottom: 30px;
                  border: none;
                  background: linear-gradient(120.83deg, #131313 0%, rgba(54, 53, 53, 0) 100%, rgba(54, 53, 53, 0) 100%);
                  border-radius: 10px;
                  width: 100%;
                  height: 50px;
                  color: #FFFEFE;
                  outline: none;
               }

               textarea {
                  background: linear-gradient(120.83deg, #131313 0%, rgba(54, 53, 53, 0) 100%, rgba(54, 53, 53, 0) 100%);
                  outline: none;
                  color: #FFFEFE;
                  width: 100%;
                  border: none;
                  border-radius: 10px;
                  margin-bottom: 30px;
               }

               .upload_btn_wrapper {
                  position: relative;
                  border: 1px dashed #7BA29A;
                  border-radius: 10px;
                  width: 100%;
                  height: 150px;

                  .cloudsvg {
                     cursor: pointer;
                     display: flex;
                     justify-content: center;
                     align-items: center;
                     flex-direction: column;

                     .icon {
                        margin-top: 30px;
                        width: 40px;
                        height: 40px;
                     }


                     p {
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 165%;
                        color: #FFFEFE;
                     }

                     .upload {
                        width: 100%;
                        position: absolute;
                        left: 0;
                        right: 0;
                        top: 0;
                        opacity: 0;
                        cursor: pointer;
                        min-height: 300px;
                     }
                  }
               }

               .form_btn {
                  margin-top: 40px;
                  margin-bottom: 40px;
                  cursor: pointer;
                  border: none;
                  background: linear-gradient(93.01deg, rgba(22, 222, 181, 0.71) -9.8%, #264D45 65.6%, rgba(7, 51, 42, 0.980365) 94.34%);
                  border-radius: 30px;
                  padding: 10px 40px;
                  font-weight: 500;
                  font-size: 18px;
                  line-height: 165%;
                  color: #FFFEFE;
                  transition: all 100ms ease-in-out;

                  &:hover {
                     border: 2px solid #CCAECC;
                  }
               }

               .createfunding_btn {
                  display: flex;
                  justify-content: center;
                  margin-top: 40px;
                  margin-bottom: 40px;

                  .connect_btn {
                     cursor: pointer;
                     border: none;
                     background: linear-gradient(93.01deg, rgba(22, 222, 181, 0.71) -9.8%, #264D45 65.6%, rgba(7, 51, 42, 0.980365) 94.34%);
                     border-radius: 30px;
                     width: 200px;
                     height: 50px;
                     font-weight: 500;
                     font-size: 16px;
                     line-height: 165%;
                     color: #FFFEFE;
                     transition: all 100ms ease-in-out;

                     &:hover {
                        border: 2px solid #9CB9B3;
                     }

                  }

                  .wrong_btn {
                     cursor: pointer;
                     border: none;
                     background: linear-gradient(93.01deg, rgba(22, 222, 181, 0.71) -9.8%, #264D45 65.6%, rgba(7, 51, 42, 0.980365) 94.34%);
                     border-radius: 30px;
                     width: 200px;
                     height: 50px;
                     font-weight: 500;
                     font-size: 16px;
                     line-height: 165%;
                     color: #FFFEFE;
                     transition: all 100ms ease-in-out;

                     &:hover {
                        border: 2px solid #9CB9B3;
                     }
                  }

               }
            }
         }
      }

   }
}