.footer {
  padding-top: 120px;
  padding-bottom: 120px;
  position: relative;
  background: #0E0D0D;

  .wrapper {
    margin: 0 auto;
    max-width: calc(100% - 1.875rem);
    width: 100%;

    @media (min-width: 1024px) {
      max-width: calc(100% - 7.5rem);
    }

    @media (min-width: 480px) {
      max-width: calc(100% - 3.75rem);
    }

    .container {
    display: block;
    max-width: 1280px;
      
      @media (max-width: 479px) {
        padding-right: 0.5rem;
        padding-left: 0.5rem;
     }

      @media(max-width: 991px) {
          padding-right: 1rem;
          padding-left: 1rem;
      }

      .footer_menu {
          margin-left: auto;
          margin-right: auto;
          display: flex;     
          flex-wrap: nowrap;

          @media (max-width: 991px) {
              flex-direction: column;
              max-width: 728px;
          }
      
        
            .footer_title {
          font-weight: 600;
          font-size: 30px;
          line-height: 145%;
          color: #FFFFFF;
          width: 53%;
          

          @media (max-width: 991px) {
            font-size: 25px;
          }
        }

            .button {
          margin-top: 30px;
          cursor: pointer;
          width: 200px;
          height: 50px;
          background: linear-gradient(92.59deg, #AF4AAF 6.24%, rgba(49, 7, 49, 0.8) 100%);
          border-radius: 30px;
          font-weight: 500;
          font-size: 20px;
          line-height: 165%;
          color: #FFFEFE;
          border: none;
          transition: all 100ms ease-out;

          &:hover {
            background: linear-gradient(92.59deg, #F164F1 6.24%, rgba(128, 16, 128, 0.8) 100%);
            color: #FFFEFE;
          }

          }

          
      .footer_social {
    display: flex;
    flex-direction: row;
    justify-content: center;
 
        .social_item {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-left: auto;
          background: linear-gradient(120.83deg, #131313 0%, rgba(54, 53, 53, 0) 100%, rgba(54, 53, 53, 0) 100%);
          width: 88px;
          height: 56px;
          cursor: pointer;
        }

      }


      .footer_link {
        justify-content: flex-end;

        .title {
          font-weight: 600;
          font-size: 30px;
          line-height: 160%;
          color: #FFFFFF;
          margin-bottom: 20px;

          @media (max-width: 600px) {
            font-size: 24px;
          }
        }

        .links {
          display: flex;
          flex-direction: column;
          cursor: pointer;

          .link {
            font-weight: 400;
            font-size: 20px;
            line-height: 165%;
            color: #FFFFFF;
            margin-bottom: 20px;

            @media (max-width: 600px) {
              font-size: 16px;
            }
          }

        }

      }
          
      }


    }


  }
}