
.footer {
   padding: 80px 0 37px;
   background: #090909;

   .wrapper {
    margin: 0 auto;
    max-width: calc(100% - 1.875rem);
    width: 100%;

    @media (min-width: 1024px) {
      max-width: calc(100% - 7.5rem);
    }

    @media (min-width: 480px) {
      max-width: calc(100% - 3.75rem);
    }
  
   .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;

      @media (max-width: 43.75em) {
       margin-left: -30px;
      }
  
     .footer_menu {
      display: grid;
      clear: both;
      margin: 0 auto;
      max-width: 1600px;
      padding: 0 20px;
      position: relative;
      width: 100%;

      @media(max-width: 75em){
      gap: 60px;
      grid-template-columns: 1fr;
     }

     @media (max-width: 43.75em) {
      gap: 40px;
     }
  
     }

     
     .footer_social {
       display: flex;
       font-size: calc(13rem/16);
       justify-content: space-between;
       letter-spacing: .3px;
       line-height: 1;
       list-style: none;

       @media (max-width: 43.75em) {
        flex-direction: column;
       }

       li {
        
        @media (max-width: 43.75em) {
         margin-bottom: 40px;
         }
       }

       .footer_info {

         @media (max-width: 43.75em) {
         display: flex;
         justify-content: center;
         align-items: center;
         flex-direction: column;
          margin-bottom: 2rem;
        }

    .footer_title {
       font-weight: 600;
       font-size: 30px;
       line-height: 145%;
       color: #FFFFFF;
       width: 400px;

        @media (max-width: 43.75em) {
         text-align: center;
         font-size: 20px;
         max-width: 300px;
        }
     }
       }

    

     .button {
        margin-top: 25px;
        cursor: pointer;
        padding: 1rem;
        background: linear-gradient(93.01deg, rgba(22, 222, 181, 0.71) -9.8%, #264D45 65.6%, rgba(7, 51, 42, 0.980365) 94.34%);
        border-radius: 30px;
        font-weight: 500;
        font-size: 18px;
        line-height: 165%;
        color: #FFFEFE;
        border: none;
        transition: all 100ms ease-out;

        &:hover {
          background: linear-gradient(92.97deg, rgba(47, 228, 191, 0.71) 32.76%, #6D837E 95.79%);
        }

        @media (max-width: 43.75em) {
         text-align: center;
         font-size: 16px;
        }

     }


     .social {
            
        @media (max-width: 43.75em) {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: row;
        }
      
          .social_item {
               display: flex;
               justify-content: center;
               align-items: center;
               background: linear-gradient(120.83deg, #131313 0%, rgba(54, 53, 53, 0) 100%, rgba(54, 53, 53, 0) 100%);
               width: 88px;
               height: 56px;
               cursor: pointer;
               margin-bottom: 1rem;
          }    
     }

     }

     .footer_link {
      // margin-left: 30px;

         @media (max-width: 600px) {
          text-align: center;
        }

      .title {
         font-weight: 600;
         font-size: 30px;
         line-height: 160%;
         color: #FFFFFF;
         margin-bottom: 20px;

         @media (max-width: 600px) {
          font-size: 24px;
         }
      }

      .links {
        display: flex;
        flex-direction: column;
        cursor: pointer;

         .link {
        font-weight: 400;
        font-size: 20px;
        line-height: 165%;
        color: #FFFFFF;
        margin-bottom: 20px;

          @media (max-width: 600px) {
          font-size: 16px;
         }
      }

      }

    }

   }

   }
}